#input#page-id(type="hidden" value="code ok")
%h3.page-header
  Punktas 
  %small= name
.alert.alert-success
  %strong Puiku!
  Jūs atėjote į teisingą punktą.
%a.btn.btn-primary.btn-lg.pull-right#post{:href=>url("/"), :role=>"button"} Tęsti!
