!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    %link{:href=>"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel=>"stylesheet"}
    %title
  %body
    .container
      .row
        .col-md-6
          =yield
