%h3.page-header Įveskite komandos kodą
%form{:method => 'post'}
  .form-group
    %input.form-control.input-lg(placeholder = "komandos kodas" name = "team" required autocomplete="off")
  .form-gorup
    %button.btn.btn-primary.btn-lg.pull-right#post(type="submit") Pirmyn!
