%form{:method=>"get", :action=>url("/checkin")}
  - if not task.empty?
    %h4
      Užduotis
    .well.well-lg
      =task
  .input-group
    %input.form-control.input-lg(placeholder = "punkto kodas" name = "code" required autocomplete="off")
    %span.input-group-btn
      %button.btn.btn-primary.btn-lg.pull-right#post(type="submit") Pirmyn!
