#input#page-id(type="hidden" value="route end")
  %h3.page-header Pabaiga 
%h4 Punktų radimo laikai
%ul.list-group
  - steps.each do |step|
    %li.list-group-item
      %span.badge= step[:duration]
      = step[:name]
