!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    %link{:href=>"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel=>"stylesheet"}
    %title
  %body
    .container
      %h1.page-header Komandų rezultatai
      .row
      -routes.each do |r|
        - next if r.team_id  == 'demo'
        .col-md-3
          %h4
            = r.team_name
            rado
          -if r.finished_stops.any?
            %ol.list-group
            -r.finished_stops.each do |s|
              %li.list-group-item
                = s.name
                %span.badge= s.check_time.getlocal("+03:00").strftime "%H:%M:%S"
          -else
            %p nepradėjo
     
