%input#page-id(type="hidden" value="wrong code")
%h3.page-header 
  Ne taip :( 
  %small= "įvestas kodas - #{params[:code]}"
.alert.alert-danger
  %strong Klaidingas kodas. 
  Jūs arba atėjote prie ne to punkto, arba klaidingai surinkote kodą
%a.btn.btn-primary.btn-lg.pull-right#post{:href=> url("/"), :role=>"button"} Dar kartą
