%input#page-id(type="hidden" value="wrong team")
%h3.page-header 
  Ups... 
  %small= "įvestas kodas - #{params[:team]}"
.alert.alert-danger
  %strong Klaidingas kodas. 
  Nėra tokios komandos,kuri turėtų tokį kodą
%a.btn.btn-primary.btn-lg.pull-right#post{:href=> url("/"), :role=>"button"} Dar kartą
